body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
}
li {
    cursor: pointer;
    margin-top: 8px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
